# dependencies
node_modules

# env files
.env

# expo
.expo
.expo-shared

# logs
npm-debug.log

# OS files
.DS_Store


# Firebase secrets (NEVER commit these)
google-services.json
*-firebase-adminsdk-*.json